---
import Layout from "../layouts/Layout.astro";
import TitleSection from "../components/TitleSection.astro";
import HomeSection from "../components/HomeSection.astro";
import HomeProject from "../components/HomeProject.astro";
import HomeEssay from "../components/HomeEssay.astro";
import { getCollection } from "astro:content";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const essays = (await getCollection("essays"))
  .sort((a, b) => b.data.id.valueOf() - a.data.id.valueOf())
  .slice(0, 5);
---

<Layout title="Home" description={SITE_DESCRIPTION}>
  <TitleSection title="Welcome">
    I’m Eugen. I use this website to learn in public and share the little
    projects I’m working on. As I do all that, I try to speak from a place of
    <a href="/about">smallness</a>.
  </TitleSection>

  <HomeSection title="Projects">
    <HomeProject name="Lulox" when="2024-2025">
      A programming language interpreter written in Lua, based on the book
      <a href="https://craftinginterpreters.com">Crafting Interpreters</a>
      by Bob Nystrom.
    </HomeProject>
  </HomeSection>

  <HomeSection title="Essays">
    {
      essays.map((essay) => (
        <HomeEssay
          id={essay.data.id}
          url={`/essays/${essay.id}`}
          when={essay.data.when}
          title={essay.data.title}
        >
          {essay.data.description}
        </HomeEssay>
      ))
    }
  </HomeSection>
</Layout>
